/* -----global style----- */
html {
    box-sizing: border-box;
    font-family: "Noto_Sans", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #edf2c5;
    font-family: "Noto Sans", sans-serif;
    min-width: 750px;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1120px;
    min-width: 750px;
    margin: 36px auto 0;
}

/* -----font-family----- */
@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Space Mono', monospace;
    src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Sans:wght@400;700;900&family=Space+Mono&display=swap");
}

/* -----font-setting----- */
.head1 {
    font-family: "Noto Sans", sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.head2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    /* 24px */
}

.text1 {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 18px */
}